.tab-nav{
  display:flex;
  background:#ccc;
  width:7.5rem;
  /* position:fixed;
  top:0; */
}
.tab-nav-item{
  font-size:0.5rem;
  width:1.5rem;
  height:1rem;
}

.tab-nav-active-item{
  color:red;
  font-size:0.5rem;
  width:1.5rem;
  height:1rem;
}