.listWrapper{
    width:100%;
    height:450px;
    overflow-y:scroll;
    position: relative;
}
.list{
    /* width:100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prevDom{
    position: absolute;
    width:95%;

}
.currDom{
    position: absolute;
    width:95%;
    
}
.nextDom{
    position: absolute;
    width:95%;
    
}
.cell{
    height:50px;
    line-height:50px;
    /* border:solid 1px #f2f2f2; */
    background-color:#f2f2f2;
    /* margin-top:10px; */
    /* background-color:#fa2; */
}
.cell:hover{
    background-color:rgba(255,111,0,.06);
    /* border:solid 1px #ff6f00; */
    color:#ff6f00;
}
.loading{
    width:100%;
    height:50px;
    line-height:50px;
    color:#ff6f00;
    position: relative;
}