.wrap{
  width:7.5rem;
  height: 3rem;
  overflow:hidden;
  background-color:#ccc;
}
.list{
  display:flex;
  flex-direction: row;
}
.item{
  width:7.5rem;
  height:3rem;
  display:flex;
  justify-content: center;
  align-items: center;
}