.wrap{
  width:7.5rem;
  height:5rem;
  background-color:#ccc;
  overflow:hidden;
  position: relative;
}
.list{
  position:absolute;
  top:0;
}
.item{
  width:7.5rem;
  height:5rem;
  display:flex;
  justify-content: center;
  align-items: center;
}