
.tab-panel-item{
  width:7.5rem;
  flex-shrink:0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab-panel-loading{
  width:7.5rem;
  height:1rem;
  font-size:0.3rem;
  display:flex;
  justify-content: center;
  align-items: center;
}